.section {
  position: relative;
}

.section > img {
  width: 100%;
  cursor: url("/images/cursor-custom-image.png"), auto;
}

.dropdown {
  position: absolute;
  width: 12%;
}

.characterCard {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  gap: 1rem;
  background-color: #6de7f7a9;
  border: 1px solid black;
  transition: filter 200ms;
  cursor: pointer;
  &:hover {
    filter: brightness(0.8);
  }
}

.characterCard > img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center top;
}

.characterCard > p {
  font-weight: 500;
  font-size: 1.1rem;
}

.message {
  position: absolute;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
}

.message.show {
  animation-name: flash-message;
  animation-duration: 2000ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes flash-message {
  from {
    opacity: 1;
    display: block;
  }

  to {
    opacity: 0;
    display: none;
  }
}
